// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-size-base: 0.9rem;
$font-weight-base: 400;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #e8e100;
$green: #bccf00;
$teal: #4bbecf;
$cyan: #6cb2eb;
$black: #00121e;
$grey: #d9dddd;
$darkgrey: #6c757d;
