// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~normalize.css/normalize.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/icons';

body {
    margin: 0;
    color: $black;
}
.app {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
}

@import 'btn';
@import 'card';
@import 'dropdown-menu';
@import 'form-control';
@import 'navbar';
@import 'table';
@import 'sidebar';
@import 'detailView';
@import 'text';
