.btn {
    border-radius: 0;
    transition: none;
}

.btn:hover {
    border-radius: 0;
}

.btn-primary {
    color: white;
    border-color: $black;
    background-color: $black;
}

.btn-primary:hover {
    color: $black;
    border-color: $green;
    background-color: $green;
}

.btn-secondary {
    background-color: white;
    color: $black;
}

.btn-secondary:hover {
    border-bottom: 2px solid $black;
}

.btn-link {
    color: $green;
}

.btn-link:hover {
    border: 0;
    color: $blue;
}
