.card {
    border: 0;
    margin-top: 3rem;
}

.card-header {
    background-color: revert;
    border: 0;
    font-size: 2em;
    font-weight: bold;
    color: $black;
    padding-bottom: 0;
}

.card-body {
    padding: 0.5rem;
}

.card-heading {
    font-size: 20px;
}

.card-heading h1 {
    line-height: 1.6;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey;
}

.close {
    position: absolute;
    right: 10px;
    top: -20px;
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
}
