.detail-view {
    margin: 5% 0;
}

.comments h2 {
    padding-top: 1rem;
    border-bottom: 1px solid $grey;
    font-size: 16px;
}

.content.comment.header {
    font-size: 13px;
    color: grey;
}
