.form-control {
    border-radius: 0;
}

.form-control:focus {
    border-color: revert;
    box-shadow: 0 0 0 0.2rem rgba(188, 207, 0, 0.75);
}

.form-control:focus:required:invalid {
    border-color: revert;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 1);
}

.form-check label input[type=checkbox] {
    position: relative;
    vertical-align: sub;
    bottom: 1px;
}

.col-form-label {
    padding-top: 1em;
}

.form-group {
    display: flex;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-label {

}

.custom-file-label {
    border-radius: 0;
}

/*.custom-file-label::after {
    content: "" !important;
    padding: 0.375rem 2.3rem;
}
span.upload {
    z-index: 5;
    position: absolute;
    right: 0.35rem;
}*/
.upload {
    margin-left: 1rem;
}
