.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    max-width: calc(100% - 50px);
    width: 560px;
    min-height: 100%;
    box-shadow: 0 5px 20px #ccc;
    z-index: 50;
    padding: 20px;
    background-color: white;
}

.sidebar .card {
    margin-top: 1.6rem;
}
