.table td {
    vertical-align: middle;
}

td label {
    margin: 0;
}

.t-1 {
    width: 8.3333333333%;
}

.t-1_5 {
    width: 10%;
}

.t-2 {
    width: 16.6666666666%;
}

.t-3 {
    width: 25%;
}

.t-4 {
    width: 33.333333333%;
}
